@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Fasthand&family=Fraunces:opsz,wght@9..144,600&family=Fuggles&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700;800&family=Kumbh+Sans:wght@400;700&family=Overpass:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100%;
}

/* NAVBAR STARTS HERE */

header{
    background-color: whitesmoke;
}

li{
    list-style: none;
    padding-right: 30px;
}

.navMenu a{
    text-decoration: none;
    color: gray;
    position: relative;
}

.navMenu a:hover{
    color: gray;
}

.navMenu a:after{
    content: "";
    position: absolute;
    background-color: gray;
    height: 4px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navMenu a:hover:after{
    width: 100%;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.navMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.logoText{
    font-family: 'Fuggles', cursive;
    color: gray;
    text-decoration: none;
    font-weight: bold;
    font-size: 90px;
}
.nav-link{
    transition: 0.5s ease;
    font-size: 23px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: gray;
}

#section4{
    height: 1000px;
    background: gray;
    display: inline-block;
    width: 100%;

}

/* NAVBAR ENDS HERE */



/* HERO SECTION STARTS HERE */


.hero-image{
    height: 1000px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./images/laptop-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 380px;
}

.hero-image h1{
    color: white;
    font-size: 100px;
    font-family: 'Martian Mono', monospace;
    padding-bottom: 20px;
}

.hero-image a{
    padding: 17px 20px;
    font-family: 'Martian Mono', monospace;
    background-color: gray;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.2rem;
    text-decoration: none;
    font-size: 18px;
    border: 3px solid white;
}

.hero-image a:hover{
    background-color: white;
    color: gray;
    border: 3px solid gray;
    transition: 0.3s ease; 
}

/* HERO SECTION ENDS HERE */



/* SKILLS SECTIONS STARTS */
#section2{
    height: 400px;
    background: white;
    display: inline-block;
    width: 100%;
    padding: 50px 50px;
}

#spanheading{
    color: gray;
}

#skills{
    font-size: 20px;
    margin: 50px auto;
}

.skill-bar{
    width: 50%;
    height: 35px;
    background: #ddd;
    border-radius: 1000px;
    text-transform: uppercase;
    margin: 20px auto;
}

.skill-area{
    font-size: 20px;
    position: absolute;
    margin: 6px;
    margin-left: 15px;
    text-shadow: none;
}

.percentage{
    margin-right: 15px;
    margin-top: 5px;
    float: right;
}

#html{
    width: 85%;
    animation: animation-html 3s;
    height: 35px;
    border-radius: 1000px;
    background-color: rgb(160, 96, 96);
    color: rgb(112, 24, 24);
    font-weight: bold;
}

#css{
    width: 80%;
    animation: animation-css 3s;
    height: 35px;
    position: relative;
    border-radius: 1000px;
    background-color: rgb(4, 141, 141);
    color: aqua;
    font-weight: bold;
}

#js{
    width: 40%;
    animation: animation-js 3s;
    height: 35px;
    position: relative;
    border-radius: 1000px;
    background-color: gold;
    color: rgb(182, 137, 23);
    font-weight: bold;
}

/*  animation for skills bar*/
@keyframes animation-html{
    from{width: 0%}
    to{width:85%;}
}

@keyframes animation-css{
    from{width: 0%}
    to{width:80%;}
}

@keyframes animation-js{
    from{width: 0%}
    to{width:40%;}
}
/* SKILLS SECTIONS ENDS */



/* FLIP CARD SECTION STARTS */
 #section3{
    height: 1000px;
    background: whitesmoke;
    display: flex;
    width: 100%;
    padding: 90px 50px;
}

.card-outer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-top: 0px;
    margin-top: 0px;
}

.card-outer-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 350px;
}

.card{
    width: 350px;
    height: 500px;
    display: flex;
}

.card-face .card-face-end{
    display: block;
}

#github-links{
    color: black;
    font-size: 25px;
    padding-bottom: 20px;
    text-decoration: none;
    display: block;
    justify-content: space-between;
    padding-left: 25px;
}


#projectsHeading{
    padding-bottom: 50px;
}

.inner-card{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    display: flex;
}

.inner-card.is-flipped{
    transform: rotateY(180deg);
}

.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    -webkit-backface-visibility: hidden;
    border-radius: 16;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
} 

.card-face-front{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-face-end{
    background-color: white;
    transform: rotateY(180deg);
    text-align: center;
    padding-top: 100px;
    display: block;
    align-items: center;
    justify-content: center;
}

#git-image{
    width: 450px;
    height: 300px;
}

#html-image{
    width: 450px;
    height: 300px;
}

#githubHeading{
    color: black;
    font-size: 35px;
    text-decoration: none;
    margin-top: 70px;
}
/* FLIP CARD SECTION ENDS */



/* MEDIA QUERY OF HAMBURGER STARTS */
@media(max-width: 770px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(42deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-42deg);
    }

    .navMenu{
        position: fixed;
        left: 100%;
        top: 108px;
        gap: 0px;
        flex-direction: column;
        background-color: gray;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        padding: 0px 20px;
        font-size: 20px;
        color: white;
    }
    .navMenu a{
        color: white;
    }
    .navMenu a:hover{
        color: black;
    }

    .navItems{
        margin: 16px 0;
    }

    .navMenu.active{
        left: 0;
    }
}
/* MEDIA QUERY OF HAMBURGER ENDS */




/* MEDIA QUERY OF FLIP CARD STARTS */
@media(max-width: 770px){
    
    #section3{
        display: block;
        height: fit-content;
        width: 100%;
    }

    .card{
        width: 250px;
        height: 400px;
    }
}
/* MEDIA QUERY OF FLIP CARD ENDS */