@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Fasthand&family=Fraunces:opsz,wght@9..144,600&family=Fuggles&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700;800&family=Kumbh+Sans:wght@400;700&family=Overpass:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: #2c3e50;
}

nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: #34495e;
    border-radius: 8px;
    box-sizing: 0 2px 3px 0 rgba(0,0,0, 0.1);
    display: flex;
    align-items: center;
}

nav a{
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    padding-left: 50px; /*  */
    text-decoration: none;
    line-height: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
}

#logo{
    position: absolute;
    right: 0;
    padding-right: 100px;
    font-size: 90px;
    font-family: 'Fuggles', cursive;
}

nav .animation{
    position: absolute;
    bottom: 0;
    height: 5px;
    background: #1abc9c;
    border-radius: 8px;
    transition: .5s;
}

a:nth-child(1){
    width: 100px;
}
nav .start-home,a:nth-child(1):hover~.animation{
    width: 100px;
    margin-left: 30px;
}

a:nth-child(2){
    width: 110px;
}
nav .start-about,a:nth-child(2):hover~.animation{
    width: 110px;
    left: 100px;
}

a:nth-child(3){
    width: 100px;
}
nav .start-blog,a:nth-child(3):hover~.animation{
    width: 100px;
    left: 210px;
}

a:nth-child(4){
    width: 160px;
}

a:nth-child(5){
    width: 120px;
}